# .gitignore
# Dependências
node_modules/
.expo/
npm-debug.*
yarn-debug.*
yarn-error.log

# Produção
build/
dist/

# Ambiente
.env
.env.local
.env.development
.env.production
.env.test

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Expo
.expo-shared/

# Android
android/.gradle/
android/.idea/
android/local.properties
android/*.iml
android/build/
android/app/build/
android/app/release/
android/captures/

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace/
ios/*.xcodeproj/
xcuserdata/

# Testes
coverage/
*.log