# ===========================
# Node / Expo / Dependências
# ===========================
node_modules/
.expo/
.expo-shared/
npm-debug.*
yarn-debug.*
yarn-error.log
expo-env.d.ts

# ===========================
# Builds e produção
# ===========================
build/
dist/

# ===========================
# Ambiente / Variáveis
# ===========================
.env
.env.local
.env.development
.env.production
.env.test

# ===========================
# Sistema
# ===========================
.DS_Store
Thumbs.db

# ===========================
# IDE
# ===========================
.vscode/
.idea/
*.swp
*.swo

# ===========================
# Android
# ===========================
android/.gradle/
android/.idea/
android/local.properties
android/*.iml
android/build/
android/app/build/
android/app/release/
android/captures/

# ===========================
# iOS
# ===========================
ios/Pods/
ios/build/
ios/*.xcworkspace/
ios/*.xcodeproj/
xcuserdata/

# ===========================
# Firebase
# ===========================
# Logs do Firebase CLI
firebase-debug.log

# Pastas e arquivos gerados localmente pelo Firebase CLI
.firebase/
.firebaserc

# Chaves sensíveis do Admin SDK
**/serviceAccountKey.json
**/firebase-adminsdk-*.json

# Arquivos de configuração do Firebase (opcional)
firebase.json

# ===========================
# Testes
# ===========================
coverage/
*.log
